<!DOCTYPE html>
<html lang="en" ng-app="ngTodo">
<head>
    <meta charset="UTF-8">
    
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <link href="assets/custom/css/custom.css" rel="stylesheet">
    <script src="assets/angular/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
    <script src="assets/custom/js/custom.js"></script>
</head>
<body>
    <div class="container-fluid" ng-controller="mainController">
        <!-- navbar top starts here -->
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-sm-2">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">
                            <img  width="40px" alt="Todo App Icon" class="img-circle img-responsive" src="assets/icon/icon.jpg">
                        </a>
                    </div>  
                  </div>
                  <div class="col-sm-8">
                      <h2 class="text-center">Today's Todo List</h2>
                  </div>
                  <div class="col-sm-2">
                    <input type="text" placeholder="search..." ng-model="query" class="search-todo-list">
                  </div>
              </div>
          </div>
        </nav>
        <!-- navbar top ends here -->
        <!-- content section starts here -->
        <div class="row">
            <div class="col-sm-12 content">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 empty-todo-list-message" ng-if="todoArray.length == 0">
                        <div class="panel panel-default ">
                          <div class="panel-body">
                            <h1><strong>Your Todo List is EMPTY</strong></h1>
                          </div>
                        </div>
                    </div>
                    <!-- item starts here -->
                    <div class="col-sm-6 col-sm-offset-3 todo-item" ng-repeat="todo in todoArray | filter : query" >
                        <div class="panel panel-default ">
                          <div class="panel-heading text-center">
                            <h3><strong>{{ todo.title + " : "  }}</strong></h3>  
                          </div>
                          <div class="panel-body">
                            <strong>{{ todo.details}}</strong>
                          </div>
                          <div class="panel-footer text-center">
                            <button ng-click="removeTodo($index)"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
                            </button>
                          </div>
                        </div>
                    </div>
                    <!-- item ends here -->
                </div>
            </div>
        </div>
        <!-- content section ends here -->
        <!-- navbar bottom starts here -->
        <nav class="navbar navbar-default navbar-fixed-bottom">
          <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <input type="text" placeholder="Add Todo Item" required ng-model="newTodo.name" >
                </div>
                <div class=" col-sm-4">
                    <input type="text" placeholder="Add Todo Item Details" required  ng-model="newTodo.details">
                </div>
                <div class=" col-sm-2">
                    <button ng-click="addTodo(newTodo)" ><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add ToDo</button>
                </div>
            </div>
          </div>
        </nav>
        <!-- navbar bottom ends here -->
    </div>
</body>
</html>