body, html {
    height: 100%;
}
body{
    font-family: sans-serif;
    line-height: 1.428;
    font-size: 14px;
    background-image: url(../../images/bg-image.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* navbar top styles starts here */
input.search-todo-list{
    margin-top: 20px;
}
.navbar-fixed-top{
    background-color: #80bfff;
}
/* navbar top styles ends here */
/* content section starts here */
.content{
    margin-top: 64px;
    margin-bottom: 50px;
}
.empty-todo-list-message{
    height: 200px;
    margin-top: 30px;
    text-align: center;
}
.todo-item{
    margin-top: 10px;
}
.panel-heading,
.panel-footer{
    padding: 5px 5px;
}
.panel-body{
    padding: 7px;
}
.panel-default>.panel-heading,
.panel-body,
.panel-footer{
    background-color: yellow;
}
/* content section starts here */
/* navbar bottom styles starts here */
.navbar-fixed-bottom input{
    width: 100%;
    margin-right: 20px;
}
.navbar-fixed-bottom input,
button{
    margin-top: 10px;
}
.navbar-fixed-bottom{
    background-color: #80bfff;
}
/* navbar bottom styles ends here */
